.container {
  padding: 0rem;
  margin-top: 0
}

.main {
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background: linear-gradient(180deg,#7CE4BC,#80d9ed);*/
  background: linear-gradient(180deg, #9C52FF, #5530D9);
}



.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}



.floatarea {
  height: 40vw;
  transform: translateY(-2.5%) rotate(17deg);
  width: 25vw;
  border-radius: 10vw 18vw 9vw 17vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: floater 5.5s infinite;
  transition: ease 2s;
  /*background: linear-gradient(#7CE4CF 10%,#80d9ed 80%);*/
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(128, 217, 237, 1));
  /*background: linear-gradient(rgba(124, 228, 207, 1),rgba(128, 217, 237, 1));
  background-color:red;*/
  background: linear-gradient(180deg, #9C52FF, #5530D9);
}

.floattext {
  transform: translateY(-5%) rotate(-17deg);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: floaterarea 5.5s infinite;
  transition: ease 4s;
}

@keyframes floater {
  0% {
    transform: translateY(-2.5%) rotate(17deg);
    transition: ease 0.5s;
  }

  50% {
    transform: translateY(2.5%) rotate(-17deg);
    transition: ease 0.5s;
  }
}

@keyframes floaterarea {
  0% {
    transform: translateY(-5%) rotate(-17deg);
    transition: ease 0.5s;
  }

  50% {
    transform: translateY(5%) rotate(17deg);
    transition: ease 0.5s;
  }
}

.leftGrid {
  display: flex;
  flex-direction: row;
}